<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/index"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/conclude/search']">
        <ion-icon color="danger" slot="icon-only" ios="search-outline" md="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      สรุปคะแนนย้อนหลัง
    </ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col class="ion-text-center">
            <ion-text><h3>สรุปคะแนนการตรวจสาขาย้อนหลัง</h3></ion-text>
            <ion-text> ประจำเดือน {{monthThai}} ปี {{yearThai}}</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
       <ion-card color="dark">
       <ion-row class="ion-text-center ion-margin-vertical">
         <ion-col size="2"><ion-title>ลำดับ</ion-title></ion-col>
         <ion-col size="4"><ion-title>รายชื่อสาขา</ion-title></ion-col>
         <ion-col size="3"><ion-title>คะแนน</ion-title></ion-col>
         <ion-col size="3"><ion-title>ร้อยละ</ion-title></ion-col>
       </ion-row>
       </ion-card>
      <ion-card>
      <ion-row class="ion-text-center ion-margin-vertical" *ngFor="let point of points;let i = index">
       <ion-col size="2"><ion-text><h5>{{i + 1}}</h5></ion-text></ion-col>
       <ion-col size="4"><ion-text><h5>{{point.branch.branchName}}</h5></ion-text></ion-col>
       <ion-col size="3"><ion-text><h5>{{point.score}}</h5></ion-text></ion-col>
       <ion-col size="3"><ion-text><h5>{{point.percent}} %</h5></ion-text></ion-col>
     </ion-row>
     </ion-card>
    </ion-grid>
  </ion-content>