<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/index"></ion-back-button>
    </ion-buttons>
    <ion-title>
      สรุปคะแนน
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col class="ion-text-center">
          <ion-text><h3>สรุปคะแนนการตรวจสาขา</h3></ion-text>
          <ion-text> ประจำเดือน {{month}} ปี {{year}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
     <ion-card color="dark">
     <ion-row class="ion-text-center ion-margin-vertical">
       <ion-col size="2"><ion-title>ลำดับ</ion-title></ion-col>
       <ion-col size="7" class="ion-text-left"><ion-title>รายชื่อสาขา</ion-title></ion-col>
       <ion-col size="3"><ion-title>คะแนน</ion-title></ion-col>
     </ion-row>
     </ion-card>
    <ion-card>
    <ion-row class="ion-text-center ion-margin-vertical">
     <ion-col size="2"><ion-text>1</ion-text></ion-col>
     <ion-col size="7" class="ion-text-left ion-padding-start"><ion-text>ชื่อสาขา</ion-text></ion-col>
     <ion-col size="3"><ion-text>100.00</ion-text></ion-col>
   </ion-row>
   </ion-card>
  </ion-grid>
</ion-content>