<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/branch/checked/{{id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>
      ประเมินให้คะแนนสาขา
    </ion-title>
  </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true">
    <ion-grid>
      <ion-row>
        <ion-col size-md="3" size="6" *ngFor="let group of groups">
          <ion-card class="ion-text-center" (click)="viewGroup(group.group_id)">
            <ion-card-header>
              <ion-card-title>{{group.group_id}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              {{group.groupsName}}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>