<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/branch/unchecked/{{id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>
      ตรวจสอบคลังรถจักรยานยนต์
    </ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col>
          <ion-title>ทั้งหมด</ion-title>
          <ion-list class="line-input">
            <ion-item class="ion-margin">
              <ion-input value="{{total}} คัน" disabled></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-title>คงเหลือ</ion-title>
          <ion-list class="line-input">
            <ion-item class="ion-margin">
              <ion-input value="{{remain}} คัน" disabled></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-title>ค้างส่ง</ion-title>
          <ion-list class="line-input">
            <ion-item class="ion-margin">
              <ion-input value="{{outstanding}} คัน" disabled></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-title>ไม่พร้อมขาย</ion-title>
          <ion-list class="line-input">
            <ion-item class="ion-margin">
              <ion-input value="{{unready}} คัน" disabled></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
     <ion-grid>
       <form (submit)="updateMotorcycles()">
      <ion-card color="dark">
        <ion-row class="ion-text-center ion-margin-vertical">
          <ion-col size="1"><ion-title>ลำดับ</ion-title></ion-col>
          <ion-col size="2"><ion-title>ยี่ห้อ</ion-title></ion-col>
          <ion-col class="ion-text-left" size="3"><ion-title>รายละเอียด</ion-title></ion-col>
          <ion-col size="2"><ion-title>สภาพ</ion-title></ion-col>
          <ion-col size="1"><ion-title>ตรวจ</ion-title></ion-col>
          <ion-col size="3"><ion-title>สถานะ</ion-title></ion-col>
        </ion-row>
      </ion-card>
       <ion-card>
       <ion-row class="ion-text-center ion-margin-vertical" *ngFor="let motocycle of motocycles;let i = index">
        <ion-col size="1"><ion-text><h5>{{i + 1}}</h5></ion-text></ion-col>
        <ion-col size="2"><ion-text><h5>{{motocycle.brand}}</h5></ion-text></ion-col>
        <ion-col class="ion-text-left" size="3">
          <ion-text>
            <h5 class="ion-no-padding">ชื่อทางเทคนิค : {{motocycle.name}}</h5>
            <p>สี : {{motocycle.color}}</p>
          </ion-text>
        </ion-col>
        <ion-col size="2">
          <ion-text><h5>{{motocycle.condition}}</h5></ion-text>
        </ion-col>
        <ion-col class="ion-margin-top" size="1">
          <!-- <ion-text *ngIf="motocycle.status == 1"><ion-checkbox color="danger" [(ngModel)]="motocycle.active" [ngModelOptions]="{standalone: true}"></ion-checkbox></ion-text>
          <ion-text *ngIf="motocycle.status == 0"><ion-checkbox color="danger" [(ngModel)]="motocycle.status" [ngModelOptions]="{standalone: true}"></ion-checkbox></ion-text> -->
            <ion-checkbox color="danger" [(ngModel)]="motocycle.status" [ngModelOptions]="{standalone: true}"></ion-checkbox>
        </ion-col>
        <ion-col size="3">
          <ion-item class="ion-padding-horizontal select-input">
            <ion-label>สถานะ</ion-label>
            <ion-select ok-text="เลือก" cancel-text="ยกเลิก" value="{{motocycle.unready}}" [(ngModel)]="motocycle.unready" [ngModelOptions]="{standalone: true}">
              <ion-select-option value="0">พร้อม</ion-select-option>
              <ion-select-option value="1">ยึดค้างส่ง</ion-select-option>
              <ion-select-option value="2">ไม่พร้อมขาย</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      </ion-card>
      <ion-row>
        <ion-col>
          <ion-button type="submit" color="danger" expand="block" size="large"><ion-icon slot="start" name="checkmark-outline"></ion-icon> แก้ไขข้อมูล</ion-button>
         </ion-col>
      </ion-row>
      </form>
     </ion-grid>
  </ion-content>