<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/branch/unchecked/{{id}}"></ion-back-button>
    </ion-buttons>
    <ion-title>
      ตรวจสอบคลังอะไหล่
    </ion-title>
  </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col>
          <ion-title>มูลค่าทั้งหมด</ion-title>
          <ion-list class="line-input">
            <ion-item class="ion-margin">
              <ion-input value="{{amountRemain}} บาท" disabled></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-title>จำนวนทั้งหมด</ion-title>
          <ion-list class="line-input">
            <ion-item class="ion-margin">
              <ion-input value="{{numberRemain}} ชิ้น" disabled></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <form (submit)="addSpares()">
       <ion-card color="dark">
       <ion-row class="ion-text-center ion-margin-vertical">
        <ion-col size="1"><ion-title>ลำดับ</ion-title></ion-col>
        <ion-col size="2"><ion-title>รหัส</ion-title></ion-col>
        <ion-col class="ion-text-left" size="5"><ion-title>ชื่ออะไหล่</ion-title></ion-col>
        <ion-col size="2"><ion-title>คงเหลือ</ion-title></ion-col>
        <ion-col size="2"><ion-title>ตรวจ</ion-title></ion-col>
        <!-- <ion-col size="3"><ion-title>หมายเหตุ</ion-title></ion-col> -->
       </ion-row>
       </ion-card>
      <ion-card>
      <ion-row class="ion-text-center ion-margin-vertical" *ngFor="let spare of spares;let i = index">
       <ion-col size="1"><ion-text><h5>{{i + 1}}</h5></ion-text></ion-col>
       <ion-col size="2"><ion-text><h5>{{spare.code}}</h5></ion-text></ion-col>
       <ion-col class="ion-text-left ion-padding-start" size="5">
         <ion-text>
           <h5>{{spare.name}}</h5>
         </ion-text>
       </ion-col>
       <ion-col size="2">
         <ion-text><h5>{{spare.remain}}</h5></ion-text>
       </ion-col>
       <ion-col size="2">
         <ion-list class="checked-input ion-padding-horizontal">
           <ion-item>
             <ion-input type="number" placeholder="เพิ่ม" [(ngModel)]="spare.score" [ngModelOptions]="{standalone: true}"></ion-input>
           </ion-item>
         </ion-list>
       </ion-col>
       <!-- <ion-col size="3">
         <ion-list class="ion-padding-horizontal checked-input">
           <ion-item>
             <ion-input type="text" placeholder="เพิ่มข้อมูล"></ion-input>
           </ion-item>
         </ion-list>
       </ion-col> -->
     </ion-row>
     </ion-card>
     <ion-row>
       <ion-col>
         <ion-button type="submit" color="danger" expand="block" size="large"><ion-icon slot="start" name="add-outline"></ion-icon> บันทึกข้อมูล</ion-button>
        </ion-col>
     </ion-row>
     </form>
    </ion-grid>
  </ion-content>