<ion-header [translucent]="true">
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button color="danger" defaultHref="branch/checked"></ion-back-button>
  </ion-buttons>
  <ion-title>
    รายการตรวจสาขาที่ตรวจแล้ว
  </ion-title>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col>
        <ion-title>{{branch?.branchName}}</ion-title> 
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-item [routerLink]="['/groups']" class="ion-activated">
            <ion-icon name="add-outline" slot="start"></ion-icon>
            <ion-label>ประเมินให้คะแนนสาขา</ion-label>
          </ion-item>
        
          <ion-item (click)="viewMotocycles()">
            <ion-icon name="aperture-outline" slot="start"></ion-icon>
            <ion-label>ตรวจสอบคลังรถจักรยานยนต์</ion-label>
          </ion-item>
        
          <ion-item (click)="viewSpares(checkSpares)">
            <ion-icon name="cog-outline" slot="start"></ion-icon>
            <ion-label>ตรวจสอบคลังอะไหล่</ion-label>
          </ion-item>
        
          <ion-item (click)="viewTools(checkTools)">
            <ion-icon name="build-outline" slot="start"></ion-icon>
            <ion-label>ตรวจสอบคลังเครื่องมือ</ion-label>
          </ion-item>
          <ion-item (click)="viewCost()">
            <ion-icon name="receipt-outline" slot="start"></ion-icon>
            <ion-label>ตรวจสอบยอดชำระค่างวด</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="document-text-outline" slot="start"></ion-icon>
            <ion-label>รายงานตรวจสอบสาขา</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  
  </ion-content>