<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/index"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/conclude/search']">
        <ion-icon color="danger" slot="icon-only" ios="search-outline" md="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      สรุปรายชื่อสาขาย้อนหลัง
    </ion-title>
  </ion-toolbar>
  </ion-header>
