<ion-header [translucent]="true">
<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="branch/unchecked"></ion-back-button>
    </ion-buttons>
    <ion-title>
      รายการตรวจสาขา
    </ion-title>
</ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<ion-grid class="ion-margin-top">
  <ion-row>
    <ion-col>
      <ion-title>{{branch?.branchName}}</ion-title> 
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-item (click)="viewGroups()">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          <ion-label>ประเมินให้คะแนนสาขา</ion-label>
        </ion-item>
      
        <ion-item (click)="viewMotocycles(checkMotocycles)">
          <ion-icon name="aperture-outline" slot="start"></ion-icon>
          <ion-label>ตรวจสอบคลังรถจักรยานยนต์</ion-label>
        </ion-item>
      
        <ion-item (click)="viewSpares(checkSpares)">
          <ion-icon name="cog-outline" slot="start"></ion-icon>
          <ion-label>ตรวจสอบคลังอะไหล่</ion-label>
        </ion-item>
      
        <ion-item (click)="viewTools(checkTools)">
          <ion-icon name="build-outline" slot="start"></ion-icon>
          <ion-label>ตรวจสอบคลังเครื่องมือ</ion-label>
        </ion-item>
        <ion-item (click)="viewCost(checkCost)">
          <ion-icon name="receipt-outline" slot="start"></ion-icon>
          <ion-label>ตรวจสอบยอดชำระค่างวด</ion-label>
        </ion-item>
        <ion-item disabled="true">
          <ion-icon name="document-text-outline" slot="start"></ion-icon>
          <ion-label>รายงานตรวจสอบสาขา</ion-label>
        </ion-item>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="danger" size="large" expand="block" disabled="true">ยืนยันการตรวจสอบสาขา</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>

